# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
db.sqlite3
.env

# =========================
# Node / Tailwind
# =========================
node_modules/
dist/
build/

# Logs
npm-debug.log*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store